body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.cen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error {
  color: red;
  font-size: 2em;
}